@media print {
	body {
  color: black;
  font-family: Georgia, 'Times New Roman', serif;
	padding:0;
	margin:0;
}
#container{
	padding:0;
	margin:0;
}
header h2{
color: black;
}
	h2 {
	color: #371BF2;
	}

	.noprint {
	display: none;
	}

	.printonly {
	display: block;
}

div#image-container {
  margin: 0;
  padding: 5px;

}
figure {
	margin: 0;
	padding:5px;
  float:left;
}
}
